<br /><br />
<table align="center">
<tr>
	<td>Name</td>
	<td><%= @person.name %></td>
</tr>
<tr>
	<td>Display Name</td>
	<td><%= @person.Displayname %></td>
</tr>
<tr>
	<td>Profile</td>
	<td><%=@person.profile %></td>
</tr>
</table>
<br />
<%= link_to 'Back', people_path %>