<br/><br/>
<div align="center">
<table width="50%"><tr><td>
  <td>Emp code:</td>
  <td><%=h @naurse_duty_transfer.Emp_Code %></td></tr>
  <tr><td>Transfer to:</td>
  <td><%=h @naurse_duty_transfer.Transfer_to %></td></tr>
  <tr><td>Patient status:</td>
  <td><%=h @naurse_duty_transfer.Patient_Status %></td></tr>
  </table>
  <br/><br/>
 </div>
 <%= link_to 'Back', naurse_duty_transfers_path %>