<h1>Editing opsearch</h1>

<% form_for(@opsearch) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @opsearch %> |
<%= link_to 'Back', opsearches_path %>