<h3>Showing CategoryMaster</h3>
<div align="center">
<table width="20%" style="border:#966 solid 1px;border-color:#FFF0; " border="1" cellspacing="0" cellpadding="4"> <tr><td>
  <b>Category code</b></td>
  <td><%=h @categorymaster.code %>
</td></tr>
 <tr><td>  <b>Category name</b></td>
  <td><%=h @categorymaster.name %>
</td></tr>

 <tr><td>
  <b>Status</b></td>
  <td><%=h @categorymaster.status %>
</td></tr>
</table>


</div>
<br/>
 <%= link_to 'Back', categorymasters_path %>
 

 
