<h3>Details Of Record </h3>
<br /><br />
<div align="center">
  <table width="40%" cellspacing= "0" border="1" cellpadding="4">
<tr><td>
  Leave_type_code</td>
  <td><%=h @leavemaster.leave_type_code %></td></tr>
  <tr><td>Leave_type_name</td>
  <td><%=h @leavemaster.leave_type_name %></td></tr>
  <tr><td>Status</td>
  <td><%=h @leavemaster.status %></td></tr>
  </table>
  </div>
  <br />
<%= link_to 'Back', leavemasters_path %></td></tr>