<h3>Showing occupationmaster</h3>
<div align="center" width="90%">
<table width="40%" style="border:#966 solid 1px;border-color:#FFF0; " border="1" cellspacing="0" cellpadding="4">
  <tr><td>Occupationname: </td>
  <td><%=h @occupationmaster.name %></td></tr>
  <tr><td>Occupationcode: </td>
  <td><%=h @occupationmaster.code %></td></tr>
</table>
</div>
<%= link_to 'Back', occupationmasters_path %></td>