<p>
  <b>Floor no:</b>
  <%=h @floormaster.floor_no %>
</p>

<p>
  <b>Floor name:</b>
  <%=h @floormaster.floor_name %>
</p>


<%= link_to 'Edit', edit_floormaster_path(@floormaster) %> |
<%= link_to 'Back', floormasters_path %>