<h3>Details of TestMaster</h3>
<br/>
<br/>
<div align="center">
  <table width="20%"  cellspacing="0" border="1" cellpadding="4">
<tr><td>
  <b>Code</b></td> 
  <td><%=h @testmaster.test_code %>
</td>  <tr/>

<tr><td>
  <b>Name</b></td> 
  <td><%=h @testmaster.test_name %>
</td>  <tr/>

<tr><td>
  <b>Fee</b></td> 
  <td><%=h @testmaster.fee %>
</td>  <tr/>

</table>
</div>
<br/>
<%= link_to 'Back', testmasters_path %>