<h3>Details of the Record</h3>
<br/>
<div align="center" width="90%">
<table width="30%" style="border:#966 solid 1px;border-color:#FFF0; " border="1" cellspacing="0" cellpadding="4">
<tr><td>
  <b>Name:</b></td>
  <td><%=h @countrymaster.name %></td></tr>
</table>
</div>
<%= link_to 'Back', countrymasters_path %>