 <h3>Details Of Record </h3>
<br /><br />
<div align="center">
  <table width="40%" cellspacing= "0" border="1" cellpadding="4">
  <tr><td>
  <b>Group_Name:</b></td>
  <td><%=h @servicegroupmaster.name %>
</td>  <tr/>

 <tr><td>
  <b>Group_Code:</b></td>
 <td> <%=h @servicegroupmaster.code %>
</td>  <tr/>
</table>
</div>
<%= link_to 'Back', servicegroupmasters_path %>
