<h3>Details Of Record</h3>
<div align="center" width="90%">
<br/><br/>
<table width="40%" style="border:#966 solid 1px;border-color:#FFF0; " border="1" cellspacing="0" cellpadding="4">
     <tr>
	 <td> <b>CurrencyName</b></td>
	 <td><%=h @currencymaster.name %></td>
	 <tr/>
<tr>
<td> <b>CurrencyCode</b></td>
  <td><%=h @currencymaster.code %></td>
  </tr>
</table>
</div>
<br/>
<%= link_to 'Back', currencymasters_path %>

