<h3>Details Of Record </h3>
<br /><br />
<div align="center">
  <table width="40%" cellspacing= "0" border="1" cellpadding="4"></td>
<tr>
  <td>Item_level1</td>
  <td><%=h @inventorylevel1master.item_level1 %></td>
</tr>

<tr>
  <td>Item_level1_name</td>
  <td><%=h @inventorylevel1master.item_level1_name %></td>
</tr>

<tr>
  <td>Status</td>
  <td><%=h @inventorylevel1master.status %></td>
</tr>
</table>
</div>
<br />
<%= link_to 'Back', inventorylevel1masters_path %>