<h3> Details of the record </h3>

<div align="center" width="90%">
<table width="30%" style="border:#966 solid 1px;border-color:#FFF0; " border="1" cellspacing="0" cellpadding="4">
<tr><td>
  <b>State:</b></td>
  <td><%=h @citymaster.statemaster_id %></td></tr>
  <tr><td><b>State name:</b></td>
  <td><%=h @citymaster.state_name %></td></tr>
  <tr><td><b>Name:</b></td>
  <td><%=h @citymaster.name %></td></tr>
</table></div>
<%= link_to 'Back', citymasters_path %>