<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>IpServices: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
<style type="text/css">
 td.datacellone {
 background-color: #d9e8f0; color: black;
}
td.datacelltwo {
 background-color: #c6dfff; color: black;
}
</style> 
</head>
<body bgcolor="#ecf3f7">
<font size="3" face="Calibri">
<%= yield %>

</body>
</html>
