<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Leaveentrymasters: <%= controller.action_name %></title>
  <style type="text/css">
 td.datacellone {
 background-color: #E1E0E2; color: black;
}
td.datacelltwo {
 background-color: #F0EFF2; color: black;
}
</style> 
</head>
<body bgcolor="#C2DFFF">

<p style="color: green"><%= notice %></p>
<font size="3" face="Calibri">
<%= yield %>

</body>
</html>
