<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
<head>
  <title>Simple and RESTful Authentication</title>
</head>

<body bgcolor="#507aaa">
  
  <% if @user %>
    <%= "User: #{@user.name}" %><br />
    <%= "IP Address: #{@application_session.ip_address}" %><br />
    <%= "Path: #{@application_session.path}" %>
  <% end %>
  
  
  <%= yield %>
</body>
</html>

